<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>K8S TOOLS</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/clusters" routerLinkActive="active">Clusters</button>
      <button mat-menu-item routerLink="/other" routerLinkActive="active">Other</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-content">
  <router-outlet></router-outlet>
</div>
