<div class="no-clusters" [hidden]="clusters.length">No clusters. Please add.</div>

<div class="example-container mat-elevation-z2" *ngIf="clusters.length">
  <mat-table #table [dataSource]="clusters">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let cluster"> {{cluster.name}} </mat-cell>
      </ng-container>

    <!-- URL Column -->
    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
      <mat-cell *matCellDef="let cluster"> {{cluster.url}} </mat-cell>
    </ng-container>

    <!-- Key Column -->
    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
      <mat-cell *matCellDef="let cluster"> {{cluster.key}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>
