.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}

.mat-column-select, .mat-column-status, .mat-column-actions {
  flex: 0 0 50px;
}

.error {
  color: #ee5253;
}

.success {
  color: #10ac84;
}

mat-row:hover {
  background: #c8d6e5;
  cursor: pointer;
}